In [19]:
#!/usr/bin/env python
import codecs
import json
import os
import csv

import pandas as pd

## DATA FROM WEBHOSE

In [3]:
# # THIS SNIPPET WAS TO MERGE THE TRAINING DATASETS DOWNLOADED FROM WEBHOSE

# path = "Datasets/"
# folders = ["Entertainment", "Finance", "Politics", "Sports", "Tech"]



# # need to check below
# # 185291
# i =0
# for fold in os.listdir(path):
# 	print(fold)
# 	# i=0
# 	total = len(os.listdir(path+fold))
# 	for file in os.listdir(path+fold):
# 		# print(files)
# 		i = i +1
# 		if(i<342191):
# 			continue
# 		print(str(i)+"/"+str(total))
# 		with codecs.open(path+fold+"/"+file, 'r', encoding='utf-8', errors='ignore') as outfile:
# 			contents = json.load(outfile)
# 			row = [fold, contents["uuid"], contents["title"], contents["text"]]
# 			with codecs.open("alldata.csv", "a", encoding='utf-8', errors='ignore') as csvFile:
# 				writer = csv.writer(csvFile)
# 				writer.writerow(row)

In [ ]:
df = pd.read_csv("Data/Training_Data/alldata.csv")

In [4]:
df.text[0]
df.shape

(383663, 4)

In [5]:
text = "What a time to be alive in Japan political landscape is wasðŸ˜ƒ"

In [17]:
import nltk
from nltk.tokenize import word_tokenize
import re
import text_preprocessing as tp
# below lines needs to be executed once
# nltk.download('punkt')
# nltk.download('stopwords')

# text = re.sub(r'^https?:\/\/.*[\r\n]*', '', df.text[0], flags=re.MULTILNE)
text = re.sub(r'http\S+', '', text)

# print(text)
tokens = word_tokenize(text)
tokens = tp.preprocess(text)

# from nltk.stem.porter import PorterStemmer
# porter = PorterStemmer()
# stems = []
# for t in tokens:    
#     stems.append(porter.stem(t))
# # print(stems)

In [18]:
tokens

['time', 'alive', 'japan', 'political', 'landscape']

In [16]:
df.label.value_counts()

NameError: name 'df' is not defined

In [9]:
# %%time

# ### Taking a sample of 10k from each section for initial training
# d1 = df[df.label=="Sports"].sample(10000)
# d2 = df[df.label=="Politics"].sample(10000)
# d3 = df[df.label=="Entertainment"].sample(10000)
# d4 = df[df.label=="Finance"].sample(10000)
# d5 = df[df.label=="Tech"].sample(10000)


# dfinal = pd.concat([d1,d2,d3,d4,d5])

In [10]:
%%time
# (df.head())
from multiprocessing import Pool
from multiprocessing import cpu_count

with Pool(cpu_count()) as pool:
    results = pool.map(tp.preprocess, list(df.text))

NameError: name 'df' is not defined

In [11]:
df["pre_processed_text"] = results

NameError: name 'results' is not defined

In [12]:
df.to_csv("Data/Training_Data/alldata_tokenized.csv",index=False)

NameError: name 'df' is not defined

## DATA FROM KAGGLE DATASETS
https://rishabhmisra.github.io/publications/

In [13]:
df_kaggle = pd.read_json('Data/Training_Data/News_Category_Dataset_v2.json',lines=True)

In [14]:
df_kaggle.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [15]:
df_kaggle.shape

(200853, 6)