In [1]:
import pandas as pd
import numpy as np

import logging
from sklearn.cluster import DBSCAN
from matplotlib import pyplot as plt
import seaborn as sns

import task3_categories as t3
sns.set()

/Users/sudevchirappat/opt/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)
2019-12-03 04:23:56,623 - DEBUG - Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
### LOGGER
logFormatter = '%(asctime)s - %(levelname)s - %(message)s'
logging.basicConfig(format=logFormatter, level=logging.DEBUG)
logger = logging.getLogger(__name__)

In [3]:
# Load from file
df = pd.read_csv('Data/Training_Data/df_kaggle_vector.csv')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,label
0,0.033573,0.030120,-0.013333,-0.004280,-0.010280,-0.000020,0.046047,-0.003707,0.016067,0.000820,...,-0.039760,0.043267,0.032080,0.067747,-0.015733,-0.023620,0.070020,0.075827,0.017567,Society
1,-0.064742,0.023908,-0.004233,-0.030258,-0.014892,0.022708,0.041967,0.011658,0.009667,0.021217,...,-0.042900,-0.022133,0.021533,0.050833,-0.028792,0.011250,0.047133,-0.015700,-0.006367,Entertainment
2,0.066769,0.007206,-0.010712,-0.059450,-0.050756,0.013675,0.062431,-0.004919,-0.018869,0.041400,...,-0.010281,-0.030531,-0.009381,0.009750,0.042487,-0.039094,0.051881,0.023563,0.040287,Entertainment
3,-0.012333,-0.007461,-0.100556,0.020939,-0.002461,-0.000728,0.063122,-0.017244,0.030683,-0.013228,...,-0.060050,0.059711,0.038639,0.081500,0.024872,-0.025722,0.081683,-0.010978,-0.054689,Entertainment
4,-0.012261,0.044161,-0.020506,0.011789,-0.026433,-0.032822,0.030433,-0.011083,0.010517,0.012244,...,-0.014150,0.064528,0.039233,0.055917,0.017133,-0.027028,0.107417,-0.005850,-0.020822,Entertainment

In [5]:
df.shape

(200853, 301)

In [6]:
df.label.value_counts()

Other            77197
Society          63939
Entertainment    41925
Economy           7644
Sports            4884
Science           3182
Technology        2082
Name: label, dtype: int64

## Clustering to be done with in each category

First let's test it out in the society vector

In [ ]:
_,df = t3.categories(path='Data/en_small/')

In [ ]:
society = df[df['label']=='Society']

In [ ]:
society = society[society.isna().apply(sum,axis=1) == 0]
X = society.drop(['label'],axis=1)

In [ ]:
logger.info("Variance explained : " + str(pca.explained_variance_ratio_.sum()))

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10, svd_solver='full')

In [ ]:
df_vector = pd.DataFrame(pca.fit_transform(X))

In [22]:
df['date_dev'] = (df['published_date'] - min(df['published_date']))/min(df['published_date'])
dt_int = int(datetime.datetime.strptime(dt, '%Y-%m-%d %H:%M:%S.%f'))

,0,1,2,3,4,5,6,7,8,9
0,0.021963,-0.159249,-0.096204,0.011308,0.069011,-0.073599,-0.150976,0.007695,0.129559,-0.085655
1,0.184276,0.008316,-0.056369,-0.147843,0.075833,-0.079262,0.093843,0.048781,-0.001682,-0.078575
2,-0.190232,-0.147221,0.005372,-0.127158,-0.044769,-0.051608,0.038062,0.025039,-0.024311,-0.009245
3,-0.226410,0.009730,-0.006972,0.115732,0.025847,-0.032472,0.004097,0.059381,-0.062325,-0.050613
4,0.283442,0.041036,-0.019587,0.178456,0.045257,-0.003103,0.157608,0.060648,-0.053838,0.006927

In [ ]:
m = DBSCAN(eps=0.5, min_samples=2,n_jobs=-1)
m.fit()

In [ ]:
sum(m.labels_ > -1)

In [ ]:
import datetime
t = '2019-11-25T05:27:39+00:00'
dt_int = int(datetime.datetime.strptime(dt, '%Y-%m-%d %H:%M:%S.%f'))

In [ ]:
def cluster_news(vector):
    
    from sklearn.decomposition import TruncatedSVD
    
    
    # Create features frmo date
    import datetime
    
    
    
    # For each category, conduct clustering : 
    
    c_list = unique(vector.categories)
    
    for c in c_list:
        
        df = vector[vector.categories == c]
        
        # Fit the DBSCAN clustering model
        m = DBSCAN(eps=0.3, min_samples=2)
        m.fit(vector.drop(['label'],axis=1))